/*Fondo de la cabecera*/
.h-wrapper{
    background-color: #ffffff;
}


.h-container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.h-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.h-logo-dashboard {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.h-dashboard-link {
    font-weight: 500;
    font-size: 1.1rem;
    color: #ff851c;
    text-decoration: none;
    transition: color 0.2s;
}

.h-dashboard-link:hover {
    color: #111;
}
