/*Fondo de la cabecera*/
.h-wrapper{
    background-color: #ffffff;
}


.h-container{
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}

.h-menu{
    display: flex;
    align-items: center;
    gap: 1rem;
}